<div class="row text-center">
  <div class="col">
    <h1>{{ title }}</h1>
    <h2>{{ counter$ | async }}</h2>
  </div>
</div>
<div class="row text-center">
  <div class="col">
    <button (click)="increase(number.value)" class="btn btn-primary">Increment</button>
    <button (click)="decrease(number.value)" class="btn  btn-info">Decrement</button>
    <div class="operationQuatity">
      <label class="label">(+/-)</label>
      <input class="numeric-input" type="number" #number value="0">
    </div>
  </div>
</div>

<hr />

<div class="row text-center">
  <div class="col">
    <app-hijo></app-hijo>
  </div>
</div>
